# Systemd unit file for tomcat
# Source: https://www.digitalocean.com/community/tutorials/how-to-install-apache-tomcat-8-on-centos-7
[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME={{ java_home }}
Environment=CATALINA_PID={{ catalina_home }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ catalina_home }}
Environment=CATALINA_BASE={{ catalina_home }}
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ catalina_home }}/bin/startup.sh
ExecStop={{ catalina_home }}/bin/shutdown.sh
#ExecStop=/bin/kill -15 $MAINPID

User={{ tomcat_user }}
Group={{ tomcat_group }}

[Install]
WantedBy=multi-user.target
